<mat-list>
  <ng-container *ngFor="let director of directors">
    <h3 mat-subheader>{{ director.departmentName }}</h3>
    <mat-list-item>
      <div mat-line>
        <app-link-worker-tooltip [worker]="director"></app-link-worker-tooltip>
      </div>
      <div mat-line> {{ director.position }} </div>

    </mat-list-item>
    <div class="ml-5">
      <app-structure-department-manager [users]="users" [supervisorId]="director.id"></app-structure-department-manager>
      <app-structure-vice-director [users]="users" [supervisorId]="director.id"></app-structure-vice-director>
    </div>
  </ng-container>

  <mat-divider></mat-divider>
</mat-list>
