<ng-container *ngIf="users | filterWorkers:supervisorId as Workers">
  <ng-container *ngFor="let worker of Workers">
    <mat-list-item>
      <div mat-line>
        <a [routerLink]="['/wizytowki', worker.departmentSymbol, worker.login]" routerLinkActive="router-link-active"
          (mouseover)="users_data=worker" [ngbPopover]="popContent" [popoverTitle]="popTitle"
          triggers="mouseenter:mouseleave">
          {{ worker.name }} {{ worker.surname }}
        </a>
      </div>
      <!-- <div mat-line> {{ worker.position }} </div> -->
    </mat-list-item>
    <div class="ml-5">
      <app-structure-worker-sub [users]="users" [supervisorId]="worker.id"></app-structure-worker-sub>
    </div>
    <mat-divider></mat-divider>
  </ng-container>
</ng-container>
<ng-template #popTitle><b>{{users_data.name}} {{users_data.surname}}</b></ng-template>
<ng-template #popContent>
  <!-- <img [src]="'/.grafika/zdjecia/lista/' + users_data.login" [alt]="users_data.name + ' ' + users_data.surname"> -->
  <ng-container *ngIf="users_data.currentLeave === null; else unavailable">
    <mat-list>
      <mat-list-item *ngIf="users_data.phoneNumber">
        Tel. {{users_data.phoneNumber}}
      </mat-list-item>
      <mat-list-item *ngIf="users_data.mobilePhoneNumber">
        Kom. {{users_data.mobilePhoneNumber}}
      </mat-list-item>
      <!-- <mat-list-item *ngIf="users_data.mobilePhoneNumber">
        <div id="floor-plan" style="position: relative; float: right;">
          <img src="/.grafika/plan/pietro_0_srednie.png" alt="">
          <img src="/.grafika/ikonki/male/tabliczka.png" alt="" style="position: absolute;left: 70.11999999999999px;top: -25.9px;"><span style="position: absolute;left: 70.11999999999999px;top: -20.9px;font-size: 10px; font-weight: bold; width: 49px; text-align: center;">004</span>
        </div>
      </mat-list-item> -->
    </mat-list>

  </ng-container>
</ng-template>
<ng-template #unavailable>
  {{users_data.name}} {{ message.UnAvailable }}
</ng-template>
