/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/alert";
@import "reset";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-error {
  background-color: #e00000;
  color: white;
}

.form-field-full-width {
  width: 100%;
}

.container-boxgrey {
  background: #f6f6f6;
}

.#{$namespace}-container-full {
  width: 100%;
}

.#{$namespace}-content-width {
  width: 100%;
  margin: 0 auto;
  max-width: $width_site;
}

.#{$namespace}-no-space-p {
  padding: 0!important
  ;
}
